:2015 {
    bind 0.0.0.0
    gzip
    root .
    
    git {
        repo https://github.com/threefoldtech/www_3bot_org.git
        branch master
        hook /webhook "test9278"
        key ~/.ssh/id_rsa
        path . 
    }
}
