@font-face {
   font-family: 'Special Elite';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/sacha/Documents/GitHub/www_3bot_org//fonts/Special Elite/regular.ttf') format('truetype');
}
