@font-face {
   font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 300;
   src: url('file:///Users/gosam/Documents/GitHub/www_3bot_org//fonts/Roboto Condensed/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Condensed';
   font-style: normal;
   font-weight: 700;
   src: url('file:///Users/gosam/Documents/GitHub/www_3bot_org//fonts/Roboto Condensed/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Condensed';
   font-style: italic;
   font-weight: 300;
   src: url('file:///Users/gosam/Documents/GitHub/www_3bot_org//fonts/Roboto Condensed/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Condensed';
   font-style: regular;
   font-weight: 400;
   src: url('file:///Users/gosam/Documents/GitHub/www_3bot_org//fonts/Roboto Condensed/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Condensed';
   font-style: italic;
   font-weight: 400;
   src: url('file:///Users/gosam/Documents/GitHub/www_3bot_org//fonts/Roboto Condensed/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Condensed';
   font-style: italic;
   font-weight: 700;
   src: url('file:///Users/gosam/Documents/GitHub/www_3bot_org//fonts/Roboto Condensed/700italic.ttf') format('truetype');
}
